absl-py==0.12.0
alabaster==0.7.12
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==20.2.0
Babel==2.8.0
backcall==0.2.0
bleach==3.2.1
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
etl-utils==0.1.11
flatbuffers==1.12
gast==0.4.0
gensim==4.0.1
google-auth==1.31.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
humanize==0.5.1
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
indic-nlp-library==0.71
ipykernel==5.3.4
ipyparallel==6.3.0
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter-offlinenotebook==0.1.0
jupyter-server==1.0.4
jupyterlab==2.2.8
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lab==6.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
Morfessor==2.0.6
mysql-connector-python==8.0.23
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nest-asyncio==1.4.1
nltk==3.5
nose==1.3.7
notebook==6.1.4
numpy==1.19.2
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
progressbar==2.2
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
pysingleton==0.2.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.10.28
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
Send2Trash==1.5.0
simplejson==3.17.2
six==1.15.0
sklearn-features==0.0.2
smart-open==5.1.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
textblob==0.15.3
tfidf==0.0.6
threadpoolctl==2.1.0
tornado==6.0.4
tqdm==4.51.0
traitlets==5.0.4
txt2tags==3.7
typing-extensions==3.7.4.3
urllib3==1.25.10
voila==0.2.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1
zipp==3.3.0
